<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyp.ujsweb.mapper.CommentMapper">
    <resultMap id="CommentResultMap" type="Comment">
        <result column="pk_user_name" property="userName"/>
        <result column="pk_time" property="time"/>
    </resultMap>
    <!--插入评论-->
    <insert id="insertComment" parameterType="Comment">
    INSERT INTO ujs_comment( pk_user_name,content,pk_time )
    VALUES( #{userName}, #{content}, #{time});
    </insert>
    <!--查询所有评论-->
    <select id="selectAllComments" resultType="Comment" resultMap="CommentResultMap">
            SELECT * FROM  ujs_comment  order by ujs_comment.pk_time desc
    </select>
</mapper>