<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyp.ujsweb.mapper.FriendMapper">
    <resultMap id="FriendResultMap" type="Friend">
        <result column="pk_reference" property="reference"/>
        <result column="pk_referenced" property="referenced"/>
    </resultMap>
    <resultMap id="UserResultMap" type="User">
        <result column="pk_user_name" property="userName"/>
        <result column="telephone_number" property="telephoneNumber"/>
    </resultMap>
    <!--插入朋友item-->
    <insert id="insertFriend" parameterType="Friend">
    INSERT INTO ujs_friend( pk_reference, pk_referenced )
    VALUES( #{reference}, #{referenced} );
    INSERT INTO ujs_friend( pk_reference, pk_referenced )
    VALUES( #{referenced}, #{reference} );
    </insert>
    <!--删除朋友item-->
    <delete id="deleteFriend" parameterType="Friend" >
    DELETE FROM ujs_friend WHERE pk_reference=#{reference} and pk_referenced=#{referenced};
    DELETE FROM ujs_friend WHERE pk_reference=#{referenced} and pk_referenced=#{reference};
    </delete>
    <!--根据用户查询所有朋友-->
    <select id="selectFriendsByUserName" parameterType="String" resultType="User" resultMap="UserResultMap" >
            SELECT
    ujs_user.*
    FROM
        ujs_friend,
        ujs_user
    WHERE
        ujs_friend.pk_referenced = `ujs_user`.pk_user_name
        AND pk_reference = #{userName}
    </select>
</mapper>